.card {
    position: relative;
    display: flex;
    margin: 2rem 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 0;
}

.card:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 11px 42px 0px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}

.card:hover {
    transform: scale(1.25,1.25);
}

.card:hover::after{
    opacity: 1;
}

.card h2{
    text-align: center;
}

.card p{
    text-align: center;
}

.card img {
    border-radius: 8px 8px 0 0;
    width: 250px;
    height: 160px;
}

.card .btn-buy {
    color: white;
    font-weight: bold;
    transition: all 0.1s linear 0.1s;
}

.card .btn-buy:hover {
    background-color: #0275d8;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}